/* REset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.content {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	min-width: 980px;
}

.logo {
  width: 272px;
	height: 233px;
  margin: 89px auto 0;
}

.logo img {
	height: 92px;
	padding-top: 109px;
}

.navbar {
	float: right;
  height: 20px;
  font-size: small;
  margin: 16px;
}

.navbar .link a {
  opacity: .75;
}

.navbar .link a:hover {
  opacity: .85;
  text-decoration: underline;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.navbar li {
  display: inline;
  padding: 7.5px;
}

.centered {
	text-align: center;
	margin: 20px auto;
}

.navbar .SignIn a {
	color: #fff;
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: medium none;
	background: #4387fd;
	display: inline-block;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 2px;
}

.navbar .SignIn a:active {
	background: #3c7ae4;
	box-shadow: 0 2px 0 rgba(0,0,0,0.15) inset;
}

.navbar .apps a {
	background-position: -132px -38px;
	opacity: 0.55;
	background-image: url("images/i1_1967ca6a.png");
	background-size: 528px 68px;
	height: 30px;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
}

.navbar .apps a:hover {
	opacity: 0.85;
}

.buttons {
	text-align: center;
	padding-top: 18px;
}

.buttons input {
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
}

.buttons input:hover {
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .01);
	color: #222;
}

.buttons input:focus {
	border: 1px solid #4d90fe;
	outline: medium none;
}

.searchbox{
	padding-bottom: 2px;
	width: 484px;
	margin: auto;
}

.searchbox input {
	width: 466px;
	height: 36px;
	padding: 2px 9px 0;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	font-size: 16px;
}

.searchbox input:hover {
	border:	1px solid;
	border-color: #a0a0a0 #b9b9b9 #b9b9b9;
}

.searchbox input:focus {
	border:	1px solid #4d90fe;
}

footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	min-width: 980px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

footer a {
	color: #666666;
	padding-left: 27px;
	margin: 0;
	font-size: small;
	white-space: normal;
}

footer a:hover {
	text-decoration: underline;
}

footer a:active {
	color: #dd4b39;
}

.footright {
	margin-right: 30px;
	float: right;
}

.footleft {
	margin-left: 3px;

}
